
    
            <div class="container">
                <h1 class="mb-5"> Criar anotação  </h1>
                <form action="http://localhost/PFC_PHP/?pagina=anotacoes&metodo=cadastrar" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control mb-5" id="exampleFormControlInput1" placeholder="Titulo da anotação" name="titulo_anotacao">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensagem"> Corpo da mensagem</textarea>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control mb-5 mt-5" id="exampleFormControlInput1" placeholder="id do usuario" name="idUsuario" value="{{fkIdusuario}}">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Criar anotação</button>
                </form>
            </div>
    
