

  
    
<div class="container">
    <h1 class="mb-5"> Login </h1>
    <form action="http://localhost/PFC_PHP/?usuario&metodo=logar" method="POST">
       
        <div class="form-group">
            <label> Email </label>
            <input type="email" class="form-control mb-5" id="exampleFormControlInput1" placeholder="ex:matheus@gmail.com" name="emailUsuarioLogin" value="matheus@gmail.com">
        </div>
        <div class="form-group">
            <label> Senha </label>
            <input type="text" class="form-control mb-5" id="exampleFormControlInput1"  name="senhaUsuarioLogin" value="123456">
        </div>
      
        <button type="submit" class="btn btn-primary mt-3"> Logar </button>
    </form>
</div>


